.img-productos-styles{
    width: 100%;
    border-radius: 7px;
    height: 158px;
}
.margin-b15{
    margin-bottom: 15px;
}
.logo-styles{
    width: 64px;
    height: 64px;
    border-radius: 30px; 
}