.redes {
  color: aliceblue;
  width: 25%;
  margin: 30px;
  margin-top: 110px;

i {
    margin: 30px;
    color: aliceblue;
}
  
  .ig{

    &:hover{
      color: violet;
    }
    
  }
  
  .wa{

    &:hover{
      color: green;
    }
    
  }
  
  .fb{
    &:hover{
      color: blue;
    }
    
  }
}