

    @media (max-width: 992px) {
    .lugares {
      width: 150px;
    }
    i {
      margin: 20px;
    }
    .galeria {
      width: 90%;
      margin: 5%;
    }
  }
  @media (max-width: 768px) {
    .pg {
      width: 100%;
    }
    .redes {
      width: 50%;
    }
    .galeria {
      height: 60%;
    }
    .info{
      width: 100%;
    }
    .carousel-control-prev{
      margin: 0px;
      margin-right: 00px;
      margin-left: 0px;
      
  }
  .carousel-control-next{
      margin: 0px;
      
  }
  }
  @media (max-width: 576px) {
    .lugares {
      margin-top: 0px;
    }
    .carrusel {
      height: 350px;
    }
    .carousel-control-prev{
      margin: 0px;
      margin-right: 100px;
      
   }
   .carousel-control-next{
      margin: 0px;
      
    }
   

   
    
  }
   