.gmail {
    margin-left: 30px;
    width: 300px;
    height: 30px;
  }
  
  .name {
    width: 300px;
    height: 30px;
    margin-left: 15px;
  }
  
  .apellido {
    margin-left: 15px;
    width: 25%;
    height: 30px;
  }
  
  .mensaje {
    margin-left: 12px;
    width: 300px;
    height: 80px;
    padding: 20px 0px 40px 0px;
  }