.abc {
    display: flex;
    border: $ideal-border;
    width: 100%;
    padding: 30px;
    text-align: left;
    background-color: $bg-color;
    position: fixed;
    margin-bottom: 300px;
    z-index: 4;
    justify-content: start;
  
  .a {
    margin-left: 10px;
    font-size: 30px;
    text-decoration: none;
    color: aliceblue;
    
  }
  
  .b {
    margin-left: 30px;
    font-size: 30px;
    text-decoration: none;
    color: aliceblue;
    margin-top: 10px;
  }
  
  .c {
    margin-left: 30px;
    font-size: 30px;
    text-decoration: none;
    color: aliceblue;
    margin-top: 10px;
  }
  
  .nav{
    &:hover{
      color: $chill-hover;
    }
    
  }
}