  .nav{
    border: $ideal-border;
    width: 100%;
    padding: 30px;
    text-align: left;
    background-color: $bg-color;
    position: fixed;
    margin-bottom: 300px;
    z-index: 4;
    
  .nav-list{
    display:flex;
    list-style-type: none;
    align-items: center;

       li a{
            margin-left: 10px;
            font-size: 30px;
            text-decoration: none;
            color: aliceblue;
            padding: 15px;
           &:hover{
            color: $chill-hover;
          }
            .logo {
               @extend .logo-styles;
               margin-left: 1050px;
               
              }
        }
      }
    }