  .navegador{
    background-color: rgb(140, 127, 255);
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
      img{
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin: 10px;
      }
      .menu{
        display: none;
      }
      ul{
        list-style: none;
        display: flex;
        justify-content: end;
        order: -1;
      } li a{
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px 20px;
        font-size: 30px;
      }
  }    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
   