.todo-nosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .todo-nosotros-h2 {
        margin: 50px;
        margin-left: 0px;
        }
  
    }
    .contacto-nosotros {
      width: 600px;
      
    }
    .problema-nosotros {
      width: 600px;

      .problema {
        margin-bottom: 60px;
        margin-left: 60px;
      }
      .todo-problema-h2{
        margin: 50px;
       
      }
    }
  
  
  
  
  
  
   