.lugares {
    border: solid 2px black;
    width: 15%;
    text-align: center;
    background-color: aliceblue;
    margin-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 100px;
    margin-top: 30px;
    
  }